<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Alterar Aluno</title>
</head>
<body class="flex-container">
    <h1>DELETAR ALUNO</h1>
    <form class="insert-student" method="post" action="../server-api-rest/controller-delete.php">
        <input type="number" name="id" placeholder="ID" class="id" required>
        <button id="button-insert-student" data-type="insertStudent" type="submit">Deletar Aluno</button>
    </form>
</body>
</html>