
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/main.css">
        <title>Tabela de Notas</title>
    </head>
    <body id="class-notes">
        <table id="students-statistics">
            <caption>DADOS DOS ALUNOS</caption>
            <tr>
                <td>Medida</td>
                <td>Aprovados com mérito</td>
                <td>Aprovados</td>
                <td>Reprovados</td>
                <td>Total</td>
            </tr>
        </table>

        <table id="students-notes">
            <caption>NOTAS</caption>
            <tr>
                <td>Aluno</td>
                <td>Nota 1</td>
                <td>Nota 2</td>
                <td>Nota 3</td>
                <td>Média</td>
                <td>status🤑</td>
            </tr>
        </table>

        <form class="insert-student" method="post" action="../server-api-rest/controller-put.php">
            <input type="text" name="name" placeholder="Nome" class="name" required>
            <div class="notes">
                <input name="note1" data-type="insertStudent" placeholder="Nota 1" type="number" class="student-notes" min="0" max="10" step="0.01" required>
                <input name="note2" data-type="insertStudent" placeholder="Nota 2" type="number" class="student-notes" min="0" max="10" step="0.01" required>
                <input name="note3" data-type="insertStudent" placeholder="Nota 3" type="number" class="student-notes" min="0" max="10" step="0.01" required>
            </div>
            <button id="button-insert-student" data-type="insertStudent" type="submit">Inserir Aluno</button>
        </form>
        
    </body>
    <script type="module" src="./js/main.js"></script>
</html>